doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='app')
    block content
    script(src='/components/angular/angular.min.js')
    script(src='/js/angular/app.js')
    // script#__bs_script__.
    //   //<![CDATA[
    //     document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.6.js'><\/script>".replace("HOST", location.hostname));
    //   //]]>